* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style-type: none;
}

@font-face {
    font-family: cLight;
    src: url(../font/CerebriSansPro-Light.ttf)
}

@font-face {
    font-family: cThin;
    src: url(../font/CerebriSansPro-Thin.ttf)
}

@font-face {
    font-family: ceLight;
    src: url(../font/CerebriSansPro-ExtraLight.otf)
}

@font-face {
    font-family: cRegular;
    src: url(../font/cerebrisans-regular.ttf)
}

@font-face {
    font-family: cMedium;
    src: url(../font/CerebriSansPro-Medium.ttf)
}

@font-face {
    font-family: cBold;
    src: url(../font/CerebriSansPro-Bold.ttf)
}

#body.active {
    overflow-y: hidden;
}

body,
html {
    height: 100%;
}

ul,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

#header {
    padding-top: 15px;
    background: #6d37eb;
}

#header .h-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .h-col .logo {
    display: flex;
    align-items: center;
}

#header .container {
    max-width: 1410px;
}

#header .h-col .logo img {
    object-fit: contain;
    height: 58px;
}

#header nav ul {
    display: flex;
    margin-bottom: -8px;
}

#header nav ul li {
    margin-left: 46px;
}
#header nav ul li.fa{
    margin-right: 30px;
}

#header nav ul li:first-child {
    margin-left: 0;
}

#header nav ul li a {
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-family: cLight;
}

#header nav ul li a.last-item {
    color: #d7c8fa;
}

#header .h-btn {
    display: flex;
}

#header .h-btn a {
    font-family: cRegular;
    width: 154px;
    height: 48px;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    background: #ff00ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 100px;
}

#header a.active {
    padding-bottom: 3px;
    border-bottom: 2px solid #ff03ff;
}

#header .h-btn a:last-child {
    margin-left: 15px;
    background: none;
    border: 1px solid #ff00ff;
}

#banner {
    padding-top: 146px;
    background: #6d37eb;
    padding-bottom: 146px;
}

#banner .container {
    max-width: 1260px;
}

#banner .b-row .b-col-left {
    display: flex;
}

#banner .b-circle {
    width: 2px;
    height: 520px;
    background: #bd9fef;
    position: relative;
}

#banner .b-circle .circle {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -5px;
    margin-bottom: 158px;
}

#banner .b-circle .circle:last {
    margin-bottom: 0;
}

#banner .b-circle .circle::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #fff;
}

#banner .b-bar ul {
    margin-top: -77px;
}

#banner .b-bar ul li {
    margin-left: 27px;
    align-items: center;
    display: flex;
    position: relative;
    top: 1px;
}

#banner .b-bar ul li:nth-child(2) {
    position: absolute;
    top: 313px;
}

#banner .b-bar ul li:nth-child(3) {
    position: absolute;
    top: 484px;
}

#banner .b-bar ul li:nth-child(4) {
    position: absolute;
    top: 655px;
}

#banner .b-bar ul li>svg {
    margin-right: 12px;
}

#banner .b-bar img {
    object-fit: contain;
}

#banner .b-bar .bar-text span {
    color: #ff00ff;
    font-family: cMedium;
    display: block;
    font-size: 16px;
    padding-top: 10px;
}

#banner .b-bar .bar-text h5 {
    color: #fff;
    font-family: cBold;
    font-size: 28px;
    text-transform: uppercase;
}

#banner .b-bar .bar-text p {
    font-family: cRegular;
    color: #bf9fef;
    line-height: 18px;
    font-size: 15px;
}

#banner .b-bar .bar-text p.only{
    font-size: 14px;
}

#banner .b-bar .bar-text {
    background: url(../img/completebackdrop.png);
    background-repeat: no-repeat;
    width: 238px;
    height: 115px;
    padding-left: 30px;
    object-fit: contain;
}

#banner .b-bar ul li span.circle-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
    width: 155px;
    height: 155px;
    border-radius: 50%;
}

#banner .b-col-right h2 {
    font-size: 100px;
    line-height: 100px;
    font-family: cLight;
    color: #fff;
    margin-bottom: 24px;
    letter-spacing: 1px;
}

#banner .b-col-right p {
    font-family: cThin;
    font-size: 40px;
    line-height: 55px;
    color: #fff;
}

#banner .b-col-right a {
    margin-top: 22px;
    background: #ff00ff;
    color: #fff;
    display: grid;
    place-items: center;
    font-family: cRegular;
    border-radius: 100px;
    height: 49px;
    font-size: 18px;
    width: 200px;
}

.circle-for-left span {
    width: 14px;
    height: 2px;
    background: #b61bf5;
    display: block;
    position: relative;
    left: -11px;
}

.circle-for-left {
    display: flex;
}

.circle-for-left span {
    margin-left: 6px;
}

.circle-for-left span:last-child {
    margin-right: 0;
}

.about {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fff;
    padding-bottom: 120px;
}

.about-2 .container {
    max-width: 1400px !important;
}

.about-2 img {
    object-fit: contain;
    border-radius: 5px;
}

.about .container {
    max-width: 1211px;
}
.about .img-back{
    border-radius: 5px;
    position: relative;
}

.img-back-services{
    position: relative;
    border-radius: 5px;
}

.img-back-services::after{
    position: absolute;
    top: 0;
    content:"";
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.298);
    border-radius: 5px;
}

.img-back-services img{
    border-radius: 5px;
}

.about .img-back::after{
    position: absolute;
    content:"";
    width: 100%;
    border-radius: 5px;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.298);
    left: 0;

}

.ab-col{
    padding-left: 148px;
}
.about img {
    border-radius: 5px;
}

.about .a-col h3 {
    color: #3c3c3c;
    margin-bottom: 33px;
    font-size: 48px;
    font-family: cMedium;
}

.about .a-col p {
    font-size: 18px;
    margin-bottom: 42px;
    color: #6e82a5;
    font-family: cLight;
    width: 561px;
}

.about .a-col a {
    color: #631bdb;
    font-family: cMedium;
    font-size: 18px;
}

.about .a-col a svg {
    margin-left: 10px;
}

#cards {
    background: #f7f9f9;
}

#cards .col-bottom {
    margin-top: 25px;
}


#cards .card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    text-align: center;
    padding-top: 34px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
}

#cards {
    padding-bottom: 120px;
}

#cards .container {
    max-width: 1400px;
}

#cards h3 {
    padding-top: 80px;
    font-size: 48px;
    color: #9ba9bd;
    font-family: cLight;
    padding-bottom: 53px;
}

#cards .card-item span {
    padding: 13px;
    border-radius: 10px;
    background: #f5a55d;
    display: block;
    margin-bottom: 23px;
}

#cards span.box2 {
    background: #23cdc9;
}

#cards span.box3 {
    background: #b13bbf;
}

#cards span.box4 {
    background: #f7618b;
}

#cards span.box5 {
    background: #31bd63;
}

#cards span.box6 {
    background: #ffc700;
}

#cards span.box7 {
    background: #2391bd;
}

#cards .card-item .card-title {
    color: #313131;
    font-size: 22px;
    font-family: cBold;
}

#cards .card-item .card-txt {
    padding-top: 18px;
    font-size: 17px;
    color: #6e82a5;
    font-family: cLight;
}

#services {
    padding-bottom: 120px;
}

#services .container {
    max-width: 1400px;
}

#services h3 {
    padding-top: 85px;
    font-size: 48px;
    padding-bottom: 60px;
    color: #9ba9bd;
    font-family: cLight;
}

#services .services-item .card-bottom span {
    font-size: 34px;
    color: #a8b4c6;
    font-family: cLight;
}

#services .services-item .card-bottom {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

#services .services-item .card-bottom a {
    font-size: 18px;
    color: #692fe5;
    border: 1px solid #692fe5;
    border-radius: 100px;
    display: grid;
    width: 155px;
    place-items: center;
    height: 37px;
    font-family: cMedium;
}

#services .services-item .card-bottom a.link-two {
    background: #692fe5;
    color: #fff;
}

#services .services-item .card-bottom a.link-three {
    border: 1px solid #ff80ff;
    color: #ff00ff;
}

#bottom-banner {
    background: #6d37eb;
    height: 319px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .b-col-right{
  padding-left: 45px ; 
}


#bottom-banner .b-col p {
    font-family: cLight;
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 31px;
}

#bottom-banner .b-col a {
    width: 235px;
    height: 60px;
    border-radius: 100px;
    color: #fff;
    background: #ff00fe;
    display: grid;
    font-family: cRegular;
    place-items: center;
    font-size: 22px;
}

#footer {
    background: #5f0fd7;
    padding-top: 85px;
    padding-bottom: 92px;
    position: relative;
}

#footer .container {
    max-width: 1400px;
}

#footer ul li {
    margin-right: 30px;
}

#footer ul li:last-child {
    margin-right: 0;
}

#footer ul li a {
    font-family: cLight;
    font-size: 16px;
    color: #fff;
}

#footer span {
    color: #fff;
    margin-right: 10px;
}

#footer .link-col a {
    background: #ff00ff;
    color: #fff;
    display: grid;
    place-items: center;
    font-family: cRegular;
    border-radius: 100px;
    height: 49px;
    font-size: 18px;
    width: 192px;
}

#footer p {
    font-size: 12px;
    font-family: cLight;
    color: #bd9fef;
}

#footer p span {
    font-family: cLight;
    color: #bd9fef;
    margin-left: 47px;
}

#footer .footer-bottom-text {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    bottom: 11px;
}

.menu-bar {
    display: none;
}

#pricing {
    padding-top: 100px;
    padding-bottom: 119px;
}

#pricing .container {
    max-width: 1170px;
}

#pricing .prising-item-left h3 {
    font-size: 48px;
    color: #3c3c3c;
    font-family: cBold;
    margin-bottom: 36px;
}

#pricing .prising-item-left p {
    font-size: 18px;
    width: 430px;
    font-family: cLight;
    color: #6e82a5;
    margin-bottom: 40px;
}

#pricing .prising-item-left ul li {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    font-size: 18px;
    font-family: cLight;
    color: #6e82a5;
}

#pricing .pc-col {
    padding-right: 49px;
}

#pricing .prising-item-left ul li:last-child {
    margin-bottom: 0;
}

#pricing .span-top {
    margin-top: 10px
}

#pricing .span-bottom {
    margin-bottom: 22px;
}

#pricing .span-b-2 {
    margin-bottom: 30px;
}

#pricing .span-t-w {
    margin-top: 13px;
}

#pricing .span-last {
    margin-bottom: 0;
}

.header {
    padding-bottom: 18px;
}

#pricing .prising-item-left ul li span {
    width: 5px;
    margin-right: 16px;
    height: 5px;
    background: #6c33e8;
    display: block;
    border-radius: 50%;
}

#pricing .prising-item-right h3 {
    font-size: 34px;
    margin-bottom: 39px;
    font-family: cMedium;
    color: #3c3c3c;
}

#pricing .prising-item-right label {
    font-size: 14px;
    font-family: cMedium;
    margin-bottom: 12px;
    margin-top: 26px;
    color: #6e82a5;
}

#pricing .prising-item-right select {
    background: transparent;
    appearance: none;
    background: url(../img/chevron-down-regular-24\ \(1\).png);
    background-repeat: no-repeat !important;
    background-position: right 5px;
    background-size: 25px;
}

#pricing .prising-item-right select,
.select {
    border: 1px solid #d7e2eb;
    border-radius: 3px;
    height: 37px;
    font-size: 16px;
    font-family: cLight;
    padding-left: 17px;
    color: #b9c3cc;
    width: 419px;
}

#pricing .prising-item-right select,
.select::placeholder {
    color: #b9c3cc;
}

#pricing .prising-item-right .btn-for-input {
    margin-top: 28px;
}

#pricing .prising-item-right .btn-for-input button:first-child {
    background: #6c33e8;
    border-radius: 90px;
    font-family: cMedium;
    padding: 16px 26px;
    color: #fff;
    font-size: 18px;
}

#pricing .prising-item-right .btn-for-input button:last-child {
    padding: 17px 25px;
    border-radius: 90px;
    font-size: 18px;
    font-family: cMedium;
    margin-left: 16px;
    color: #9ba6af;
    background: transparent;
    border: 1px solid #cdd7e0;
}

#pricing .prising-item-right label:first-child {
    margin-top: 0;
}

#pricing .prising-item-right label:last-child {
    margin-bottom: 0;
}

#pricing .prising-value {
    padding-left: 30px;
}

#pricing .col-lg-7 .p-item {
    padding-left: 32px;
    padding-right: 29px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 690px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#pricing .prising-value {
    padding-top: 11px;
}

#pricing .prising-value ul li {
    display: flex;
    padding: 22px 0;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #d7e1eb;
    width: 180px;
    margin: 0 auto;
    border-bottom: 1px solid #d7e1eb;
}

#pricing .prising-value ul li p.top-title {
    color: #6d83a5;
    font-family: cMedium;
    font-size: 14px;
}

#pricing .prising-value ul li>span {
    font-size: 14px;
    color: #b9c3cd;
    font-family: cMedium;
    display: block;
}

#pricing .prising-value ul li:nth-child(2) {
    border-top: none;
    border-bottom: none;
}

.mobil-menu .mobil-container nav ul {
    position: fixed;
    top: 87px;
    left: -100%;
    height: calc(100vh - 85px);
    background-color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    width: 100%;
    flex-direction: column;
    transition: 350ms ease;
}

.mobil-menu .mobil-container nav ul.active {
    left: 0;
}

.mobil-menu .mobil-container nav ul li {
    width: 100%;
    text-align: center;
}

.mobil-menu .mobil-container nav ul li a {
    color: #182553;
    font-size: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    padding: 20px 0;
    font-family: cMedium;
    display: block;
}

.mobil-menu .mobil-container li .sign {
    margin-top: 30px;
    transition: 200ms all;
    font-family: cLight;
    width: 164px;
    height: 58px;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    background: #ff00ff;
    font-weight: 500;
    margin-right: 10px;
    border-radius: 100px;
}

.mobil-menu .mobil-container li .sign:last-child {
    border: 1px solid #ff00ff;
    background: transparent;
    color: #000;
}

.mobil-menu .mobil-container li #sign:hover {
    background: #182553;
    color: #fff;
}

/* Responsive code */

@media only screen and (max-width:1400px) {
    #header nav ul li {
        margin-left: 34px;
    }

    #footer ul li {
        margin-right: 17px;
    }

    #pricing .p-row {
        padding: 0;
    }

    .ab-col{
        padding-left: 40px;
    }


}

@media only screen and (max-width:1200px) {
    .ab-col{
        padding-left: 0px;
    }
    #pricing .col-lg-7 {
        display: flex;
        justify-content: center;
    }

    #pricing .col-lg-7 .p-item {
        width: 590px;
    }

    #pricing .prising-item-left p {
        width: 100%;
    }

    #pricing .prising-value ul li {
        width: 140px;
    }

    #pricing .prising-item-right select,
    .select {
        width: 360px;
    }

    .about .a-col p {
        width: 100%;
    }

    .menu-bar {
        display: block;
        width: 30px;
        color: #fff;
        fill: #fff;
    }

    .circle-for-left {
        display: none;
    }

    #banner .b-row {
        padding: 0 40px;
    }

    #banner .b-col-right h2 {
        font-size: 80px;
        line-height: 80px;
    }

    #banner .b-col-right p {
        font-size: 30px;
        line-height: 35px;
    }

    #services .services-item .card-bottom span {
        font-size: 22px;
    }

    #services .services-item .card-bottom a {
        font-size: 17px;
        width: auto;
        padding: 0 10px;
    }

    #footer .link-col a {
        width: auto;
        padding: 0 10px;
        font-size: 15px;
        white-space: nowrap;
    }

    .b-col-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #header nav ul {
        display: none;
    }

    #header .h-btn {
        display: none;
    }
}

@media only screen and (max-width:992px) {
    .about .a-col h3 {
        text-align: center;
    }
    .about .a-col p{
        text-align: center;
    }

    .about .a-col a {
        display: flex;
        justify-content: center;
    }
    .prising-item-right {
        width: 90%;
    }

    #pricing .prising-item-right h3 {
        text-align: center;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .p-item {
        flex-direction: column;
        align-items: center;
    }

    .about-2 .col-lg-6 {
        display: flex;
        justify-content: center;
    }

    #pricing .prising-value ul li {
        width: 180px;
    }

    #pricing .prising-item-right select,
    .select {
        width: 420px;
    }

    #pricing {
        padding-top: 30px;
    }

    .prising-item-left {
        text-align: center;
        margin-bottom: 50px;
    }

    .prising-item-left ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .b-circle {
        display: none;
    }

    #banner .b-bar ul li>svg {
        display: none;
    }

    #banner .col-6 {
        width: 100%;
    }

    #banner .b-row .b-col-left {
        min-height: 650px;
        display: flex;
        justify-content: center;
    }

    #banner .b-bar ul li {
        margin-left: 0;
    }

    #banner {
        padding-bottom: 100px;
    }

    #cards .col-bottom {
        margin-top: 0px;
    }

    .card-item {
        margin-top: 25px;
    }

    #footer .f-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer ul {
        padding: 30px 0;
        flex-direction: column;
        display: flex;
        text-align: center;
    }

    #footer ul li {
        margin-bottom: 10px;
    }

    #footer ul li a {
        font-size: 19px;
    }

    #footer ul li span {
        display: none;
    }

    #footer p {
        text-align: center;
    }

    .about .a-col a {
        margin-bottom: 30px;
    }

    .services-item {
        margin-bottom: 40px;
    }

    #about .a-col {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #banner .b-row {
        padding: 0;
    }
}

@media only screen and (max-width:768px) {

    #pricing .prising-item-right h3 {
        text-align: center;
    }

    .inputs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pricing .prising-value {
        padding-left: 0;
        padding-top: 40px;
    }
}

@media only screen and (max-width:578px) {

    #pricing .prising-item-right select,
    .select {
        width: 100px;
    }

    #pricing .col-lg-7 .p-item {
        padding-left: 0;
        padding-right: 0;
    }

    #pricing .prising-item-right select,
    .select {
        font-size: 15px !important;
    }

    .btn-for-input button {
        font-size: 15px !important
    }

    .btn-for-input button:last-child {
        margin-left: 5px !important;
    }

    #banner .b-bar ul li span.circle-background {
        width: 120px;
        height: 120px;
    }

    #pricing {
        padding-top: 0;
    }

    #pricing .prising-item-left p {
        font-size: 16px;
    }

    #pricing .prising-item-left h3 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    #pricing .prising-item-right select,
    .select {
        width: 100%;
    }

    #pricing .prising-item-right h3 {
        font-size: 35px;
    }

    #pricing {
        padding-bottom: 50px;
    }

    #pricing .col-lg-7 {
        padding-left: 12px;
    }

    #pricing .pc-col {
        padding-right: 10px;
        padding-left: 10px;
    }

    #banner .b-bar img {
        height: 70px;
        width: 70px;
    }

    #banner .b-bar .bar-text h5 {
        font-size: 22px;
    }

    #banner .b-bar .bar-text p {
        font-size: 13px;
    }

    #banner .b-col-right h2 {
        font-size: 50px;
        line-height: 50px;
    }

    #banner .b-col-right p {
        font-size: 20px;
        line-height: 25px;
    }

    .about {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    #cards {
        padding-top: 0px;
        padding-bottom: 70px;
    }

    #cards .col-lg-3 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card-item {
        width: 330px;
    }

    #cards .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cards h3 {
        font-size: 35px;
        padding-top: 50px;
        padding-bottom: 35px;
    }

    .about .a-col h3 {
        text-align: center;
        font-size: 35px;
    }

    .about .a-col h3.title-2 {
        margin-top: 25px;
    }

    .about .a-col p {
        text-align: center;
    }

    .about .a-col a {
        display: flex;
        justify-content: center;
    }

    #services {
        padding-bottom: 70px;
    }

    #services h3 {
        font-size: 35px;
        padding-top: 50px;
        padding-bottom: 45px;
    }

    #services .services-item .card-bottom span {
        font-size: 30px;
    }

    #services .services-item .card-bottom a {
        font-size: 22px;
    }
}